
.chatContainer {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.conversationCardContainer {
    width: 300px;
    height: 100vh;
    background: #ebebeb;
    border-right: solid;
    border-right-width: 1px;
    border-right-color: #b9b9b9;
}

.userSelectionContainer {
    z-index: 1;
    background: #cdcdcdc7;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer {
    -webkit-user-select: none; /* Safari */
    user-select: none; /* Standard syntax */
}

.userSelectionContainer > .imageContainer {
    width: 200px;
    height: 200px;
    margin: 1%;
    cursor: pointer;
}

.userSelectionContainer > .imageContainer > img, .selectedUser > .imageContainer > img, .cardAvatar > .imageContainer > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    pointer-events: none;
}

.selectedUser {
    height: 38px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.selectedUser > .imageContainer {
    width: 40px;
    position: absolute;
    right: 10px;
    height: 40px;
    cursor: pointer;
}

.card {
    display: flex;
    cursor: pointer;
}

.cardAvatar {
    height: 50px;
    width: 50px;
    margin: 10px;
}

.cardAvatar > .imageContainer {
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
}

.cardInformation {
    flex: 1;
    align-self: center;
    font-family: sans-serif;
    margin: 10px;
}

.cardSubInformation {
    color: #979797;
    font-size: 13px;
}

.cardContainer > .active {
    background: #f9f9f9;
}

.conversationContainer {
    flex: 1;
    height: 100vh;
    background: rgba(235, 235, 235, 0.22);
    display: flex;
    flex-direction: column;
}

.messageInputContainer {
    height: 30px;
    width: 100%;
    padding: 6px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d7deff;
}

.messageInput {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background: #d7deff;
    margin: 0 5px;
    color: #3c3c3c;
}

.sendIcon {
    width: 25px;
    height: 20px;
    padding: 10px;
    cursor: pointer;
}

.sendIcon:hover {
    background-color: aliceblue;
}

.conversations {
    height: calc(100% - 30px - 12px - 58px);
    width: 100%;
    overflow: auto;
}

.conversation {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.message {
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    margin: 2px 0;
}

.myMessage {
    background: #b5f9b5;
    place-self: flex-end;
}

.friendMessage {
    background: #e1dede;
    place-self: flex-start;
}
